asgiref
attrs
certifi
charset-normalizer
Django
django-appconf
django-cors-headers
django-filter
django-jazzmin
django-staticfiles
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
gunicorn
idna
inflection
jsonschema
jsonschema-specifications
packaging
pillow
postgres
psycopg2-binary
psycopg2-pool
PyJWT
python-dotenv
pytz
PyYAML
referencing
requests
rpds-py
sqlparse
tzdata
uritemplate
urllib3
